.app {
  margin: 0 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
  }

  main {
    margin-bottom: 16px;
  }

  footer {
    margin-top: auto;
    border-top: 1px solid lightgray;
    text-align: center;
    font-size: 75%;
  }
}
