*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* some decent default button styling */
button {
  font-size: 150%;
  background: lightgray;
  border: 1px solid black;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(0,0,0,.15);
}

.bold {
  font-weight: bold;
}
